<div id="app-header" style="position: relative;">
  <h1 class="roboto-light hc-header text-shadow" style="max-width: 500px; margin-bottom: margin-top:15vh; position:absolute;
  bottom:30%; left: 2%;">Book, schedule, pay... all from your phone</h1>
</div>
<div class="green-background" style="height: 2vh;">

</div>
<div class="margin-5">

</div>
<h2 class="hc-header col-centered font-green align-center">At your fingertips</h2>
<div class="col-centered align-center hc-tagline" style="margin: 1vh;">
  Find and book highly-rate service professionals directly from your phone.
</div>
<div class="" style="margin: 2vh;">

</div>
<div class="container">

<div class="row col-centered">
    <div class="col-md-6 ">
      <img class="img-fluid" src="assets/app-view-1.jpg" alt="">
    </div>
    <div class="col-md-6">
      <img class="img-fluid"src="assets/app-view-2.jpg" alt="">
    </div>
  </div>
</div>
<div class="margin-5">

</div>
<div class="">
  <img class="img-fluid" src="assets/video-image.jpg" alt="">
</div>
<div class="margin-5">

</div>
<h2 class="hc-header font-green align-center">One stop shop</h2>
<div class="hc-tagline align-center">
  Whethere you need an electrician, carpet cleaner, or a housekeeper, the Housecall app has you covered.
</div>
<div class="margin-5">

</div>
<div class="col-centered align-center">
  <img src="assets/what-we-do.png" alt="">
</div>
<div class="gray-background">
  <h2 class="align-center hc-header font-white" style="padding-top: 4vh">How it works</h2>
  <div class="col-centered align-center">
    <img class="img-fluid align-center" src="assets/consumer-icon.png" alt="">
  </div>
  <div class="hc-label align-center font-white" style="padding-top: 4vh;">
    CLICK IT & FIX IT
  </div>
  <div class="hc-label align-center font-white" style="padding-top: 4vh;">
    All you need is a phone and a working thumb.
  </div>
  <div class="margin-5">

  </div>
  <div class="row ml-0 mr-0 col-centered">
    <div class="col-md-4 font-white align-center">
      <img class="img-fluid"src="assets/unhappy-icon.png" alt="">
      <br>
      UNHAPPY
      <br>
      <div class="row ml-0 mr-0 hc-label">
        Housework got you down? We've got pros available in your neighborhood with up-front pricing and great reviews.
      </div>
    </div>
    <div class="col-md-4 font-white align-center">
      <img class="img-fluid"src="assets/messaging-icon.png" alt="">
      <br>
      Messaging
      <br>
      <div class="row align-center hc-label">
        No more unanswered voicemails. Message in-app with your pros to make communication easy and stress-free.
      </div>
    </div>
    <div class="col-md-4 font-white align-center">
      <img class="img-fluid"src="assets/unhappy-icon.png" alt="">
      <br>
      SCHEDULE
      <br>
      <div class="row align-center hc-label">
        Schedule service at a time that works for you. Emergency services are available for immediate scheduling.
      </div>
    </div>
  </div>
  <div class="margin-5">

  </div>
  <div class="row ml-0 mr-0 col-centered">
    <div class="col-md-4 font-white align-center">
      <img class="img-fluid"src="assets/map-app-icon.png" alt="">
      <br>
      MAP
      <br>
      <div class="row ml-0 mr-0 hc-label">
        No more time windows and waiting around. Get notified when your pro is on the way and see their ETA on a map.
      </div>
    </div>
    <div class="col-md-4 font-white align-center">
      <img class="img-fluid"src="assets/creditcard-icon.png" alt="">
      <br>
      PAY
      <br>
      <div class="row align-center hc-label">
        Don't be a check writin' grandma. Pay with your credit card on file when the job is completed.
      </div>
    </div>

    <div class="col-md-4 font-white align-center">
      <img class="img-fluid"src="assets/happy-icon.png" alt="">
      <br>
      HAPPY
      <br>
      <div class="row align-center hc-label">
        Success! That was almost too easy. Start thinking about what else you need fixed around the house.
      </div>
    </div>
  </div>
  <div style="padding-bottom: 8vh;">

  </div>
</div>
<div class="margin-10">

</div>
