<div id="cc-header" style="height: 30vh;">
  <h1 class="roboto-light hc-header text-shadow" style="position: absolute; left: 2%; bottom: 15%">All cards, one low rate</h1>
</div>
<div class="blue-background" style="height: 2vh;">
</div>
<br>
<h2 class="hc-header font-blue align-center col-centered"style="max-width:780px">Never lose or break a Square dongle again</h2>
<br>
<div class="hc-tagline align-center col-centered"style="max-width:780px">
  Accept credit card payments at the low rate of 2.9% + 30 cents for the Simple, Modern, and Advanced plans and 3.5% + 30 cents for the Free plan. No need to hassle with a clunky phone dongle. Just scan or key in the card numbers to get paid. Accept cash and check for jobs, or send automated invoices all straight from your phone.
</div>
<div class="col-centered"style="max-width:780px">
  <img class="align-center img-fluid" src="assets/features-cc.png" alt="">
</div>
<div class="margin-10">

</div>
<div class="section-divider">
</div>
<div class="margin-10">

</div>
<div class=" row col-centered" style="height: 80px;">
  <div class="col col-md-6 align-right">
    <button type="button" style="margin: 0 11px 0 11px;
    padding-left: 40px;
    padding-right: 40px;" class="button white-button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">BOOK LIVE DEMO</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="form-control-label">Name:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="email-text" class="form-control-label">Email:</label>
                <textarea class="form-control" id="email-text"></textarea>
              </div>
              <div class="form-group">
                <label for="phone-text" class="form-control-label">Phone:</label>
                <textarea class="form-control" id="phone-text"></textarea>
              </div>
              <div class="form-group">
                <label for="message-text" class="form-control-label">Company Name:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">LET'S DO THIS!</button>
          </div>
        </div>
      </div>
    </div>
    <button type="button" style="margin: 0 11px 0 11px;
    padding-left: 40px;
    padding-right: 40px;" class="green-button button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">SIGN UP</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="form-control-label">Name:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="email-text" class="form-control-label">Email:</label>
                <textarea class="form-control" id="email-text"></textarea>
              </div>
              <div class="form-group">
                <label for="phone-text" class="form-control-label">Phone:</label>
                <textarea class="form-control" id="phone-text"></textarea>
              </div>
              <div class="form-group">
                <label for="message-text" class="form-control-label">Company Name:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">LET'S DO THIS!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="col col-md-6">
  <div class="row align-left">
    <div class="col col-md-2 font-blue" style="border-left: solid 1px #ccc;">
      <a href="tel:877-944-9010"><i  class="fa fa-phone" style="font-size: 4em;"></i></a>
    </div>
    <div class="col col-md-3">
      <div class="row align-left">
        <p class="hc-label font-gray-light">TOLL FREE</p>
      </div>
      <div class="row  align-left">
        <a href="tel:877-944-9010">877-944-9010</a>
      </div>
    </div>
  </div>
</div>
</div>
<div class="margin-10">

</div>
