<div id="features-header" style="position: relative;">
  <h1 class="roboto-light hc-header text-shadow" style="max-width: 500px; margin-bottom: margin-top:15vh; position:absolute;
  bottom:30%; left: 2%;">Provide a new experience for a new generation of customers.</h1>
</div>
<!-- <div class="container blue-background"> -->
  <div class="row blue-background features-icons" style="height: 25vh;">
    <div class="col-centered" style="padding-top: 100px;">
      <img src="assets/crm-icon.png" alt="" style="width: 60px">
    </div>
    <div class="col-centered" style="padding-top: 100px;">
      <img src="assets/chat-icon.png" alt="" style="width: 60px">
    </div>
    <div class="col-centered" style="padding-top: 100px;">
      <img src="assets/map-icon.png" alt="" style="width: 60px">
    </div>
    <div class="col-centered" style="padding-top: 100px;">
      <img src="assets/scheduling-icon.png" alt="" style="width: 180px">
    </div>
    <div class="col-centered" style="padding-top: 100px;">
      <img src="assets/invoice-icon.png" alt="" style="width: 60px">
    </div>
    <div class="col-centered" style="padding-top: 100px;">
      <img src="assets/payment-icon.png" alt="" style="width: 60px">
    </div>
    <div class="col-centered" style="padding-top: 100px;">
      <img src="assets/marketing-icon.png" alt="" style="width: 60px">
    </div>
  </div>
<!-- </div> -->
  <div class="row ml-0 mr-0">
    <div class="col-centered">
      <h2 class="align-center font-blue hc-header">The wow factor</h2>
    </div>
  </div>
<div class="row ml-0 mr-0" >
  <div class="col-centered">
    <p class="hc-tagline align-center" style="max-width: 840px;">Housecall Pro is the only software management program that frees you from the paperwork grind of running your business and keeps your customers in the loop. In the age of Uber, all service businesses need to adapt. We made Housecall Pro to make that change easy.</p>
  </div>
  <div class="col-centered" style="margin-top: 30px;">
        <p class="hc-tagline align-center" style="max-width: 840px;"> Your customers will love you and repeats and referrals will follow. Don't just take our word for it, hear it directly from other <a href="/success_stories" class="roboto-bold">service professionals</a>.</p>
  </div>
</div>

<div class="devices-example">
  <img class="devices-image" src="assets/devices-display.png" alt="">
</div>
<div class="margin-20">

</div>
  <div class="row ml-0 mr-0 grey-background" style="height: 90px; position: relative;">
    <div class="col-centered">
      <h3 class="font-gray-light hc-header align-center" style="padding-top: 30px;">A day on the job with Housecall Pro</h3>
    </div>
  </div>
<div class="margin-20">
</div>
  <div class="row ml-0 mr-0">
    <div class="col col-md-6">
      <img  class="rounded float-left img-fluid" src="assets/iMac-example.png" alt="">
    </div>
    <div class="col col-md-6">
      <div class="row ml-0 mr-0">
        <div class="col">
          <h3 class="font-blue hc-header">Scheduling & Dispatch</h3>
        </div>
      </div>
      <div class="row ml-0 mr-0">
        <div class="col">
          <p class="hc-tagline">Your team gets notified directly on their phone when you set up a job. Employee permissions control who sees what.</p>
        </div>
      </div>
      <div class="row ml-0 mr-0">
        <div class="col col-lg-8">
          <img class="rounded float-right img-fluid" src="assets/iphone-example.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="margin-5">

  </div>
  <div class="section-divider">

  </div>
  <div class="margin-10">

  </div>
  <div class="row ml-0 mr-0 text-center">
    <div class="col-centered">
      <h3 class="font-blue hc-header align-center">Chat</h3>
    </div>
  </div>
  <div class="row ml-0 mr-0 text-center">
    <div class="col-centered">
      <p class="align-center hc-tagline" style="max-width: 820px;">Keep your business running in lock-step. Chat is the next must-have for all businesses. Have an extra part to pick up? Just shoot Jerry a note. Someone running late to the job? Message in a replacement.
      </p>
      <br>
      <p class="align-center hc-tagline" style="max-width: 820px;">Plus, <span class="font-blue roboto-bold">74%</span> of homeowners would rather message a service professional than call them on the phone. Amaze your customers at how easily it is to communicate with your business.
      </p>
    </div>
  </div>
  <div class="margin-10">

  </div>
  <div class="row ml-0 mr-0">
    <div class="col-centered">
      <img src="assets/iphone-1.jpg" alt="">
    </div>
    <div class="col-centered">
      <img src="assets/iphone-2.gif" alt="">
    </div>
    <div class="col-centered">
      <img src="assets/iphone-3.jpg" alt="">
    </div>
  </div>
<div class="margin-10">
</div>
<div class="feature-map" style="position: relative;">
  <h2 class="font-blue hc-header text-shadow" style="position:absolute; left: 2%; bottom: 75%">Live map</h2>
  <div class="hc-tagline text-shadow" style="position:absolute; left: 2%; bottom: 65%; font-size: 1rem;">
    Keep up to date on job progress by knowing when your employees arrive on site.
  </div>
</div>
<div class="margin-10">
</div>
<div class="container m-0">
  <div class="row ml-0 mr-0">
    <div class="col-centered">
      <h3 class="font-blue hc-header align-center">Invoicing & Payments</h3>
    </div>
  </div>
  <div class="margin-5">
  </div>
  <div class="row ml-0 mr-0">
    <div class="col-centered" style="margin-bottom: 40px;">
      <img src="assets/jerry-invoicing.jpg" alt="">
    </div>
  </div>
</div>
  <div class="row ml-0 mr-0 feature-icon rey-background">
    <div class="col col-lg-4">
      <div class="row ml-0 mr-0">
        <div class="col">
          <img class="img-fluid" src="assets/CC-icon.png" alt="">
        </div>
        <div class="col align-left">
            <span>CREDIT CARD PROCESSING</span>
            <span>Built directly into the app. No more broken Square dongles. </span>

          <div class="row ml-0 mr-0">
            <a class="hc-callout font-blue-2" href="/credit_card">2.9% + 30c > </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-lg-4">
      <div class="row ml-0 mr-0">
        <div class="col">
          <img class="img-fluid" src="assets/employee-icon.png" alt="">
        </div>
        <div class="col">
          <div class="row ml-0 mr-0">
            <span>EMPLOYEE PERMISSIONS</span>
            <span>Because sometimes Jerry doesn't touch the money.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-lg-4">
      <div class="row ml-0 mr-0">
        <div class="col">
          <img class="img-fluid" src="assets/invoices-icon.png" alt="">
        </div>
        <div class="col">
          <div class="row ml-0 mr-0">
            <span>INVOICES & ESTIMATES</span>
            <span>Professional quotes & invoices. Send by email to get paid faster.</span>
          </div>
          <div class="row ml-0 mr-0">
            <a class="hc-callout font-blue-2"href="https://housecallpro.com/housecall_pro-example_invoice.pdf">SEE EXAMPLE > </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class=" blue-background">
  <div class="row ml-0 mr-0">
    <div class="col-centered" style="margin-top: 30px;">
      <h3 class="font-white hc-header-small">ONE CLICK SETUP</h3>
    </div>
  </div>
  <div class="row ml-0 mr-0">
    <div class="col-centered font-white hc-tagline" style="margin-bottom: 30px;">
      Import your job history, customers and price list in one click
      <br>
      when you connect to your Quickbooks Online account.
    </div>
  </div>
  <div class="row ml-0 mr-0">
    <div class="col-centered align-center" style="margin-bottom: 30px">
      <img class="QB-logo" src="assets/Quickbooks-logo-white.png" alt="" >
      <a class="button white-button" href="#LearnMore" style="
            margin-left: 30px; vertical-align: text-top;">LEARN MORE > </a>
    </div>
  </div>
</div>
<div class="navy-background">
  <div class="row ml-0 mr-0">
    <div class="col-centered" style="margin-top: 30px;">
      <h4 class="font-white hc-header align-center">Postcard & Email marketing</h4>
    </div>
  </div>
  <div class="row ml-0 mr-0 col-centered" >
    <div class="col col-lg-6 col-centered" style="border: solid 1px #bbdefb; flex: 0 0 41.66667%;
    max-width: 41.66667%;">
      <div class="row ml-0 mr-0" style="margin-bottom: 20px ">
        <img class="img-fluid col-centered" src="assets/postcard.png" alt="" style="margin-top: 20px ">
      </div>
      <div class="row ml-0 mr-0">
        <div class="font-white hc-header col-centered">86¢ per postcard</div>
      </div>    </div>
    <div class="col col-lg-6 col-centered" style="border: solid 1px #bbdefb;     flex: 0 0 41.66667%;
    max-width: 41.66667%;">
      <div class="row ml-0 mr-0" style="margin-bottom: 20px ">
        <img class="img-fluid col-centered" src="assets/email.png" alt=""style="margin-top: 20px ">
      </div>
      <div class="row ml-0 mr-0">
        <div class="font-white hc-header col-centered">Free</div>
      </div>
    </div>
  </div>
  <div style="padding-bottom: 70px;">
  </div>
</div>
<div>
  <div class="margin-10">

  </div>
  <div class="row ml-0 mr-0">
    <div class="row ml-0 mr-0">
      <div class="col">
        <img class="img-fluid" src="assets/imac-tutorial.gif" alt="">
      </div>
      <div class="col">
        <div class="row ml-0 mr-0">
          <h2 class="font-blue hc-header align-center">Get Booked Online</h2>
        </div>
        <div class="row ml-0 mr-0">
          <p>Customers can book you instantly through your website, Yelp, and Facebook.
          </p>
        </div>
        <div class="row ml-0 mr-0">
          <p>The job will automatically appear on your calendar. Like magic.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="margin-5">

</div>
<div id="feature-booking" style="position: relative;">
  <h2 class="hc-header font-blue-2 align-center" style="">Get booked through an app</h2>
  <div class="hc-tagline align-center">
    New and existing customers can book you at the push of a button through the HOUSECALL booking app.
    <br>
    <br>
    <a class="hc-callout font-blue-2"href="#">LEARN MORE > </a>
  </div>
  <div class="row ml-0 mr-0">
    <div class="col-centered">
      <img src="assets/feature-icon_existing_customer_dark.png" alt="">
      <br>
      <div class="font-blue-2 text-shadow col-centered">
        EXISTING CUSTOMERS
      </div>
      <div class="text-shadow roboto-light col-centered">
        Stay top of mind and just a tap away.
      </div>
    </div>
    <div class="col-centered">
      <img src="assets/feature-icon_marketplace_dark.png" alt="">
      <br>
      <div class="font-blue-2 text-shadow col-centered">
        NEW CUSTOMERS
      </div>
      <div class="text-shadow roboto-light col-centered">
        Offer customers something your competitors don't.
      </div>
    </div>
  </div>
  <img src="assets/pro_marketplace.png" alt="" style="position: absolute; left: 20vw; bottom: 0;">
</div>
<div class="margin-10">

</div>
</div>
  <div class=" row col-centered" style="height: 80px;">
    <div class="col col-md-6 align-right">
      <button type="button" style="margin: 0 11px 0 11px;
      padding-left: 40px;
      padding-right: 40px;" class="button white-button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">BOOK LIVE DEMO</button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="form-control-label">Name:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="email-text" class="form-control-label">Email:</label>
                  <textarea class="form-control" id="email-text"></textarea>
                </div>
                <div class="form-group">
                  <label for="phone-text" class="form-control-label">Phone:</label>
                  <textarea class="form-control" id="phone-text"></textarea>
                </div>
                <div class="form-group">
                  <label for="message-text" class="form-control-label">Company Name:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">LET'S DO THIS!</button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" style="margin: 0 11px 0 11px;
      padding-left: 40px;
      padding-right: 40px;" class="green-button button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">SIGN UP</button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="form-control-label">Name:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="email-text" class="form-control-label">Email:</label>
                  <textarea class="form-control" id="email-text"></textarea>
                </div>
                <div class="form-group">
                  <label for="phone-text" class="form-control-label">Phone:</label>
                  <textarea class="form-control" id="phone-text"></textarea>
                </div>
                <div class="form-group">
                  <label for="message-text" class="form-control-label">Company Name:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">LET'S DO THIS!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="col col-md-6">
    <div class="row align-left">
      <div class="col col-md-2 font-blue" style="border-left: solid 1px #ccc;">
        <a href="tel:877-944-9010"><i  class="fa fa-phone" style="font-size: 4em;"></i></a>
      </div>
      <div class="col col-md-3">
        <div class="row align-left">
          <p class="hc-label font-gray-light">TOLL FREE</p>
        </div>
        <div class="row  align-left">
          <a href="tel:877-944-9010">877-944-9010</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="margin-10">

</div>
