<div class="features-header">
  <img src="assets/features-header.png" alt="">
</div>
<div class="container blue-background">
  <div class="row blue-background features-icons" style="height: 25vh;">
    <div class="col-centered">
      <img src="assets/crm-icon.png" alt="">
    </div>
    <div class="col-centered">
      <img src="assets/chat-icon.png" alt="">
    </div>
    <div class="col-centered">
      <img src="assets/map-icon.png" alt="">
    </div>
    <div class="col-centered">
      <img src="assets/scheduling-icon.png" alt="">
    </div>
    <div class="col-centered">
      <img src="assets/invoice-icon.png" alt="">
    </div>
    <div class="col-centered">
      <img src="assets/payment-icon.png" alt="">
    </div>
    <div class="col-centered">
      <img src="assets/marketing-icon.png" alt="">
    </div>
  </div>
</div>
<div class="container">
  <div class="row ml-0 mr-0">
    <div class="col-centered">
      <h2>The wow factor</h2>
    </div>
    <div class="col-centered">
      <p>Housecall Pro is the only software management program that frees you from the paperwork grind of running your business and keeps your customers in the loop. In the age of Uber, all service businesses need to adapt. We made Housecall Pro to make that change easy.</p>
    </div>
    <div class="col-centered">
      <p>Your customers will love you and repeats and referrals will follow. Don't just take our word for it, hear it directly from other service professionals.</p>
    </div>
  </div>
</div>
<div class="devices-example">
  <img class="devices-image" src="assets/devices-display.png" alt="">
</div>
<div class="margin-20">

</div>
<div class="container m-0">
  <div class="row ml-0 mr-0">
    <div class="col-centered">
      <h3>A day on the job with Housecall Pro</h3>
    </div>
  </div>
</div>
<div class="margin-20">
</div>
<div class="container" style="">
  <div class="row ml-0 mr-0">
    <div class="col col-md-6">
      <img  class="rounded float-left img-fluid" src="assets/iMac-example.png" alt="">
    </div>
    <div class="col col-md-6">
      <div class="row ml-0 mr-0">
        <div class="col">
          <h3>Scheduling & Dispatch</h3>
        </div>
      </div>
      <div class="row ml-0 mr-0">
        <div class="col">
          <p>Your team gets notified directly on their phone when you set up a job. Employee permissions control who sees what.</p>
        </div>
      </div>
      <div class="row ml-0 mr-0">
        <div class="col col-lg-8">
          <img class="rounded float-right img-fluid" src="assets/iphone-example.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container m-0">
  <div class="row ml-0 mr-0 text-center">
    <div class="col-centered">
      <h3>Chat</h3>
    </div>
  </div>
  <div class="row ml-0 mr-0 text-center">
    <div class="col-centered">
      <p>Keep your business running in lock-step. Chat is the next must-have for all businesses. Have an extra part to pick up? Just shoot Jerry a note. Someone running late to the job? Message in a replacement.
      </p>
    </div>
  </div>
  <div class="row ml-0 mr-0 text-center">
    <div class="col-centered">
      <p>Plus, 74% of homeowners would rather message a service professional than call them on the phone. Amaze your customers at how easily it is to communicate with your business.
      </p>
    </div>
  </div>
  <div class="row ml-0 mr-0">
    <div class="col-centered">
      <img src="assets/iphone-1.jpg" alt="">
    </div>
    <div class="col-centered">
      <img src="assets/iphone-2.gif" alt="">
    </div>
    <div class="col-centered">
      <img src="assets/iphone-3.jpg" alt="">
    </div>
  </div>
</div>
<div class="margin-20">
</div>
<div class="map-example">
  <img class="map-image" src="assets/live-map.png" alt="">
</div>
<div class="margin-10">
</div>
<div class="container m-0">
  <div class="row ml-0 mr-0">
    <div class="col-centered">
      <h3>Invoicing & Payments</h3>
    </div>
  </div>
  <div class="margin-10">
  </div>
  <div class="row ml-0 mr-0">
    <div class="col-centered">
      <img src="assets/jerry-invoicing.jpg" alt="">
    </div>
  </div>
</div>
<div class="container m-0 grey-background" style="width: 100%;">
  <div class="row ml-0 mr-0 feature-icon">
    <div class="col col-lg-4">
      <div class="row ml-0 mr-0">
        <div class="col">
          <img class="img-fluid" src="assets/CC-icon.png" alt="">
        </div>
        <div class="col">
          <div class="row ml-0 mr-0">
            <h5>CREDIT CARD PROCESSING</h5>
          </div>
          <div class="row ml-0 mr-0">
            <p>Built directly into the app. No more broken Square dongles. </p>
          </div>
          <div class="row ml-0 mr-0">
            <p>2.9% + 30c</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-lg-4">
      <div class="row ml-0 mr-0">
        <div class="col">
          <img class="img-fluid" src="assets/employee-icon.png" alt="">
        </div>
        <div class="col">
          <div class="row ml-0 mr-0">
            <h5>EMPLOYEE PERMISSIONS</h5>
          </div>
          <div class="row ml-0 mr-0">
            <p>Because sometimes Jerry doesn't touch the money.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-lg-4">
      <div class="row ml-0 mr-0">
        <div class="col">
          <img class="img-fluid" src="assets/invoices-icon.png" alt="">
        </div>
        <div class="col">
          <div class="row ml-0 mr-0">
            <h5>INVOICES & ESTIMATES </h5>
          </div>
          <div class="row ml-0 mr-0">
            <p>Professional quotes & invoices. Send by email to get paid faster.
            </p>
          </div>
          <div class="row ml-0 mr-0">
            <p>SEE EXAMPLE</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container m-0 blue-background">
  <div class="row ml-0 mr-0">
    <div class="col-centered">
      <h3 class="white">ONE CLICK SETUP</h3>
    </div>
  </div>
  <div class="row ml-0 mr-0">
    <div class="col-centered">
      <p class="white">Import your job history, customers and price list in one click</p>
      <br>
      <p class="white">when you connect to your Quickbooks Online account.</p>
    </div>
  </div>
  <div class="row ml-0 mr-0">
    <!-- <div class="col-centered">

    </div> -->
    <div class="col">
      <img class="img-fluid" src="assets/Quickbooks-logo-white.png" alt="">
    </div>
    <div class="col">

    </div>
  </div>
</div>
<div class="container m-0 navy-background">
  <div class="row ml-0 mr-0">
    <div class="col-centered">
      <h4 class="white">Postcard & Email marketing</h4>
    </div>
  </div>
  <div class="row ml-0 mr-0">
    <div class="col col-lg-6">
      <div class="row ml-0 mr-0">
        <img class="img-fluid" src="assets/postcard.png" alt="">
      </div>
      <div class="row ml-0 mr-0">
        <h4 class="white">86¢ per postcard</h4>
      </div>    </div>
    <div class="col col-lg-6">
      <div class="row ml-0 mr-0">
        <img class="img-fluid" src="assets/email.png" alt="">
      </div>
      <div class="row ml-0 mr-0">
        <h4>Free</h4>
      </div>
    </div>
  </div>
</div>
<div class="container m-0">
  <div class="row ml-0 mr-0">
    <div class="row ml-0 mr-0">
      <div class="col">
        <img class="img-fluid" src="assets/imac-tutorial.gif" alt="">
      </div>
      <div class="col">
        <div class="row ml-0 mr-0">
          <h3>Get Booked Online</h3>
        </div>
        <div class="row ml-0 mr-0">
          <p>Customers can book you instantly through your website, Yelp, and Facebook.
          </p>
        </div>
        <div class="row ml-0 mr-0">
          <p>The job will automatically appear on your calendar. Like magic.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
