<div id="pricing-header" style="max-height: 400px;">
  <h1 class="roboto-light hc-header text-shadow" style="position: absolute; left: 5%; bottom: 30%;">The best investment in your future</h1>
</div>
<div class="blue-background" style="height: 2vh;">
</div>
<div class="margin-5">
</div>
<div class="row hc-header align-center font-blue">
PRICING
</div>
<div class="row hc-header align-center">
Rated #1 most affordable
</div>
<div class="row" style="    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;">
  <div class="pricing-panel col col-md-4">
    <div class="" style="height: 20vh; ">
    <div class="hc-header-small font-blue">
      SIMPLE PLAN
    </div>
    <div class="hc-tagline">
      Essentials to get organized and run your business from the field
    </div>
    <div class="pricing-user-row">
      <span class="price-text">1</span> user
    </div>
    <div class="pricing-user-row">
      <span class="price-text">$39</span> /mo billed annually
    </div>
    <div class="pricing-sub-price-text">
      $49/mo billed monthly
    </div>
    <div class="pricing-sub-price-text">
      Add-on users or features for just $20/ea
    </div>
    </div>
    <div class="pricing-button-row">
      <a href="#" class="button white-button">TRY NOW</a>
    </div>
    <div class="pricing-features-row gray-light-background">
      <div class="hc-header-small">
        WHAT'S INCLUDED
      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i>Schedule, estimate, invoice
      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i> Apps for iOS, Android & web

      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i> Real-time dispatching

      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i> Customer job SMS & email notifications

      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i> Dashboard with key business stats

      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i> Email receipts, invoices, and estimates

      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i> Customer booking app

      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i> Default in booking app

      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i>Free to use with existing customers
      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i>10% referral fee
      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i> 2.9% + 30 cents CC processing

      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i> Google calendar integration

      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i> Email support

      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i> No contract, cancel any time

      </div>
    </div>
  </div>
  <div class="pricing-panel col col-md-4">
    <div class="" style="height: 20vh;">
    <div class="hc-header-small font-blue">
      MODERN PLAN
    </div>
    <div class="hc-tagline">
      Deliver exceptional customer service while growing your business
    </div>
    <div class="pricing-user-row">
      <span class="price-text">1-6</span> users
    </div>
    <div class="pricing-user-row">
      <span class="price-text">$109</span> /mo billed annually
    </div>
    <div class="pricing-sub-price-text">
      $137/mo billed monthly
    </div>
    </div>

    <div class="pricing-button-row">
      <a href="#" class="button green-button">TRY NOW</a><span class="pricing-most-popular font-white">MOST POPULAR</span>
    </div>
    <div class="pricing-features-row gray-light-background">
      <div class="hc-header-small">
        EVERYTHING IN SIMPLE +
      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i> Live chat support
      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i>  Unlimited email reminders


      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i>   Online booking for your website



      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i>  Quickbooks Online integration

      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i>  Time tracking

      </div>

    </div>
  </div>

  <div class="pricing-panel col col-md-4">
    <div class="" style="height: 20vh;">
      <div class="hc-header-small font-blue">
        ADVANCED PLAN
      </div>
      <div class="hc-tagline">
        Advanced tools to help you manage your team and track your growth
      </div>
      <div class="pricing-user-row">
        <span class="price-text">Unlimited</span> users
      </div>
      <div class="pricing-user-row">
        <span class="price-text">$199</span> /mo billed annually
      </div>
      <div class="pricing-sub-price-text">
        $249/mo billed monthly
      </div>
    </div>
    <div class="pricing-button-row">
      <a href="#" class="button white-button">TRY NOW</a>
    </div>
    <div class="pricing-features-row gray-light-background">
      <div class="hc-header-small">
        EVERYTHING IN MODERN +
      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i> Live chat support

      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i>  Customizable reports


      </div>
      <div>
        <i style="font-size:24px" class="fa">&#xf00c;</i>  Employee GPS tracking


      </div>
    </div>
  </div>

</div>
<div class="margin-20">

</div>
</div>
</div>
  <div class=" row col-centered" style="height: 80px;">
    <div class="col col-md-6 align-right">
      <button type="button" style="margin: 0 11px 0 11px;
      padding-left: 40px;
      padding-right: 40px;" class="button white-button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">BOOK LIVE DEMO</button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="form-control-label">Name:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="email-text" class="form-control-label">Email:</label>
                  <textarea class="form-control" id="email-text"></textarea>
                </div>
                <div class="form-group">
                  <label for="phone-text" class="form-control-label">Phone:</label>
                  <textarea class="form-control" id="phone-text"></textarea>
                </div>
                <div class="form-group">
                  <label for="message-text" class="form-control-label">Company Name:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">LET'S DO THIS!</button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" style="margin: 0 11px 0 11px;
      padding-left: 40px;
      padding-right: 40px;" class="green-button button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">SIGN UP</button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="form-control-label">Name:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="email-text" class="form-control-label">Email:</label>
                  <textarea class="form-control" id="email-text"></textarea>
                </div>
                <div class="form-group">
                  <label for="phone-text" class="form-control-label">Phone:</label>
                  <textarea class="form-control" id="phone-text"></textarea>
                </div>
                <div class="form-group">
                  <label for="message-text" class="form-control-label">Company Name:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">LET'S DO THIS!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="col col-md-6">
    <div class="row align-left">
      <div class="col col-md-2 font-blue" style="border-left: solid 1px #ccc;">
        <a href="tel:877-944-9010"><i  class="fa fa-phone" style="font-size: 4em;"></i></a>
      </div>
      <div class="col col-md-3">
        <div class="row align-left">
          <p class="hc-label font-gray-light">TOLL FREE</p>
        </div>
        <div class="row  align-left">
          <a href="tel:877-944-9010">877-944-9010</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="margin-20">

</div>
