<div id="success-header" style="height: 400px; position: relative">
  <h3 class="roboto-light hc-header text-shadow" style="position: absolute; left: 5%; bottom: 10%; max-width: 500px;">"I grew from 1 to 3 trucks in just one year and my customers loved it!"</h3>
</div>
<div class="margin-10">
</div>
<div class="success-icons blue-background">
  <div class="row" style="margin-right: 20vw; margin-left: 20vw; padding-top: 3vh; padding-bottom: 3vh;">
  <div class="col-centered">
    <a href="http://www.capterra.com/p/140363/HouseCall-Pro/">  <img src="assets/review_badges_capterra.png" alt=""></a>
  </div>
  <div class="col-centered">
    <a href="https://apps.intuit.com/housecall-pro">  <img src="assets/review_badges_apps.com.png" alt=""></a>
  </div>
  <div class="col-centered">
    <a href="https://www.getapp.com/operations-management-software/a/housecall-pro/">    <img src="assets/review_badges_getapp.png" alt="">
</a>
  </div>
  <div class="col-centered">
    <a href="https://www.g2crowd.com/products/housecall-pro/reviews">    <img src="assets/review_badges_g2crowd.png" alt="">
</a>
  </div>
  <div class="col-centered">
    <a href="http://www.softwareadvice.com/field-service/housecall-profile/">    <img src="assets/review_badges_softwareadvice.png" alt="">
</a>
  </div>
</div>
</div>
<div class="margin-5">

</div>
<div class="row ml-0 mr-0">
  <div class="col-centered">
    <h1 class="font-blue align-center hc-header">Hear it from our customers</h1>
  </div>
</div>
<div class="margin-5">

</div>
<div class="row">
  <div class="col" style="margin-left: 2vw;">
    <img src="https://embedwistia-a.akamaihd.net/deliveries/4d298b6e4e47b113306efe130221d4aecfec3464.jpg?image_crop_resized=960x540" alt="">
  </div>
  <div class="col">
    <div class="hc-tagline" style="max-width: 325px;">
      "My favorite part of Housecall Pro is the communication with our customers. The feedback we've gotten is awesome. What that turns into is repeat customers and referrals."
    </div>
    <div class="hc-tagline font-blue-2">
      Grant Schoenberger, Core Plumbing
    </div>
  </div>
</div>
<div class="margin-5">
</div>
<div class="section-divider">
</div>
<div class="margin-5">
</div>
<div class="row">
  <div class="col">
    <div class="hc-tagline align-right" style="max-width: 325px;" style="margin-left: 30vw;">
      "I was using carbon copy before I did this. The cost of Housecall Pro is not even a quarter of the cost of paper."
    </div>
    <div class="hc-tagline font-blue-2">
      Mitch Stonebarger, Hyper Carpet Cleaning
    </div>
  </div>
  <div class="col" >
    <img src="https://embedwistia-a.akamaihd.net/deliveries/838b0b1e313a3ef3b4badf67ffdfb529262c5e04.jpg?image_crop_resized=960x540" alt="">
  </div>
</div>
<div class="margin-5">
</div>
<div class="section-divider">
</div>
<div class="margin-5">
</div>
<div class="row">
  <div class="col" style="margin-left: 2vw;">
    <img src="https://embedwistia-a.akamaihd.net/deliveries/b13720ffc5542f35e63b2cde4de43a172ae85046.jpg?image_crop_resized=960x540" alt="">
  </div>
  <div class="col">
    <div class="hc-tagline" style="max-width: 325px;">
      "My favorite part of Housecall Pro is the communication with our customers. The feedback we've gotten is awesome. What that turns into is repeat customers and referrals."
    </div>
    <div class="hc-tagline font-blue-2">
      Grant Schoenberger, Core Plumbing
    </div>
  </div>
</div>
<div class="margin-5">
</div>
<div class="section-divider">
</div>
<div class="margin-5">
</div>
<div class="row ">
  <div class="col">
    <div class="hc-tagline align-right" style="max-width: 325px;" style="margin-left: 30vw;">
      "I was using carbon copy before I did this. The cost of Housecall Pro is not even a quarter of the cost of paper."
    </div>
    <div class="hc-tagline font-blue-2">
      Mitch Stonebarger, Hyper Carpet Cleaning
    </div>
  </div>
  <div class="col" >
    <img src="https://embedwistia-a.akamaihd.net/deliveries/b0f4c1743818837e20de8ebe6a819b762ab047bb.jpg?image_crop_resized=960x540" alt="">
  </div>
</div>
<div class="margin-5">
</div>
<div class="section-divider">
</div>
<div class="margin-5">

</div>
<div class="row">
  <div class="col" style="margin-left: 3vw;">
    <img src="https://embedwistia-a.akamaihd.net/deliveries/854fb22b7995fe264a252fec68018b7cf611bc1a.jpg?image_crop_resized=960x540" alt="">
  </div>
  <div class="col">
    <div class="hc-tagline align-right" style="max-width: 325px;" style="margin-left: 30vw;">
      "I was using carbon copy before I did this. The cost of Housecall Pro is not even a quarter of the cost of paper."
    </div>
    <div class="hc-tagline font-blue-2">
      Mitch Stonebarger, Hyper Carpet Cleaning
    </div>
  </div>
</div>
<div class="margin-5">
</div>
<div class="section-divider">
</div>
<div class="margin-5">
</div>
<div class="row">
  <div class="col col-md-3 col-centered">
    <img class="img-fluid" src="https://embedwistia-a.akamaihd.net/deliveries/06dab81464aea3a78131f9ed044b8899731681a9.jpg?image_crop_resized=960x540" alt="">
    <br>
    <div class="hc-tagline align-center">
      "I can message with customers before I even get there."
    </div>
    <div class="hc-tagline font-blue-2">
      Byron Hoch, All American Plumbing
    </div>
  </div>
  <div class="col col-md-3 col-centered">
    <img class="img-fluid" src="https://embedwistia-a.akamaihd.net/deliveries/b970d578ebad7174592de3c3e1d787bfc7871cf1.jpg?image_crop_resized=960x540" alt="">
    <br>
    <div class="hc-tagline align-center">
      "Housecall Pro has increase our business dramatically."
    </div>
    <div class="hc-tagline font-blue-2 align-center">
      Lorie and Kevin Wood, Wood Professional Clean Team Cleaning
    </div>
  </div>
  <div class="col col-md-3 col-centered">
    <img class="img-fluid" src="https://embedwistia-a.akamaihd.net/deliveries/26ac9bc41495bc66f387b46f893fb553e33b6bd4.jpg?image_crop_resized=960x540" alt="">
    <br>
    <div class="hc-tagline align-center">
      "I've almost doubled my business with Housecall Pro."
    </div>
    <div class="hc-tagline font-blue-2 align-center">
      Chad Warner, Warner Carpet & Tile Cleaning
    </div>
  </div>
</div>
<div class="margin-5">

</div>
<div class="section-divider">

</div>
<div class="margin-10">

</div>
</div>
  <div class=" row col-centered" style="height: 80px;">
    <div class="col col-md-6 align-right">
      <button type="button" style="margin: 0 11px 0 11px;
      padding-left: 40px;
      padding-right: 40px;" class="button white-button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">BOOK LIVE DEMO</button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="form-control-label">Name:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="email-text" class="form-control-label">Email:</label>
                  <textarea class="form-control" id="email-text"></textarea>
                </div>
                <div class="form-group">
                  <label for="phone-text" class="form-control-label">Phone:</label>
                  <textarea class="form-control" id="phone-text"></textarea>
                </div>
                <div class="form-group">
                  <label for="message-text" class="form-control-label">Company Name:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">LET'S DO THIS!</button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" style="margin: 0 11px 0 11px;
      padding-left: 40px;
      padding-right: 40px;" class="green-button button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">SIGN UP</button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="form-control-label">Name:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="email-text" class="form-control-label">Email:</label>
                  <textarea class="form-control" id="email-text"></textarea>
                </div>
                <div class="form-group">
                  <label for="phone-text" class="form-control-label">Phone:</label>
                  <textarea class="form-control" id="phone-text"></textarea>
                </div>
                <div class="form-group">
                  <label for="message-text" class="form-control-label">Company Name:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">LET'S DO THIS!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="col col-md-6">
    <div class="row align-left">
      <div class="col col-md-2 font-blue" style="border-left: solid 1px #ccc;">
        <a href="tel:877-944-9010"><i  class="fa fa-phone" style="font-size: 4em;"></i></a>
      </div>
      <div class="col col-md-3">
        <div class="row align-left">
          <p class="hc-label font-gray-light">TOLL FREE</p>
        </div>
        <div class="row  align-left">
          <a href="tel:877-944-9010">877-944-9010</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="margin-10">

</div>
